body{font-family: Cambria, Georgia, Times, 'Times New Roman', serif;}
body{background-color: white;}

text{color: black;}

nav{background-color: black;
    padding: 10px;
    margin-bottom: 20px;}
nav a{color: #c79409;}
nav a:hover {background-color: #740001;}

a{color: #c79409;}
a:visited {color: #c79409;}
a:hover{color: #c79409;}

h1, h2 {color: #740001}
h1 {font-size: 3em;}
h2 {font-size: 2em;}

.evenrow{background-color: rgba(134, 134, 134, 0.692);}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    min-height: 50px;
}

.copyright {
    float: left;
    margin: 10px;
}

.quote {
    float: right;
    margin: 10px;
    font-style: italic;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}

.image-fixed {
    max-width: 100%;
    height: auto;
}
