body{font-family: Cambria, Georgia, Times, 'Times New Roman', serif;}
body{background-color: white;}

text{color: black;}

nav{background-color: black;
    padding: 10px;
    margin-bottom: 20px;}
nav a{color: #c79409;}
nav a:hover {background-color: #740001;}

a{color: #c79409;}
a:visited {color: #c79409;}
a:hover{color: #c79409;}

h1, h2 {color: #740001}
h1 {font-size: 3em;}
h2 {font-size: 2em;}

.evenrow{background-color: rgba(134, 134, 134, 0.692);}

.row1,
.row2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.column1,
.column2,.form,.map {
    flex: 1;
    background-color: #c79409;
    padding: 20px;
    border-radius: 10px;
}

.column1 {
    margin-right: 20px;
}

.form, .map {
    flex: 1;
    background-color: #c79409;
    padding: 20px;
    border-radius: 10px;
}

.form {
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form select, form textarea {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    min-height: 50px;
}

.copyright {
    float: left;
    margin: 10px;
}

.quote {
    float: right;
    margin: 10px;
    font-style: italic;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}

