body{font-family: Cambria, Georgia, Times, 'Times New Roman', serif;}
body{background-color: white;}

text{color: black;}

link{color: #c79409;}

h1, h2 {color: #740001}
h1 {font-size: 3em;}
h2 {font-size: 2em;}

nav{background-color: black;
    padding: 10px;
    margin-bottom: 20px;}
nav a{color: #c79409;}
nav a:hover {background-color: #740001;}

.evenrow{background-color: rgba(134, 134, 134, 0.692);}